.cities-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.city-cards-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .cities-body {
        height: 100%;
    }
    
}