.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.main-text {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.main-text span:nth-child(1) {
    font-size: 7rem;
    margin: 3rem 0;
    font-family: 'Shadows Into Light', cursive;

}
.main-text span:nth-child(2) {
    font-size: 2rem;
    color: gray;
    margin-bottom: 3rem;
}
.main-text button {
    padding: 1rem 2rem;
    border-radius: 4px;
    border: none;
    background-color: #1da1f2;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.images-container {
    position: relative;
}

.twitter-image {
    height: 50px;
    width: 50px;
    position: absolute;
    
}
.twitter-image-1 {
    top: 0;
    left: 15%;
    animation: MoveUpDown1 10s ease-in-out infinite;
}
.twitter-image-2 {
    top: -20%;
    right: 30%;
    animation: MoveUpDown2 10s ease-in-out infinite;
    animation-delay: 2s;
}


@keyframes MoveUpDown1 {
    0%, 100% {
      top: 0;
    }
    50% {
      top: 100px;
    }
  }
  @keyframes MoveUpDown2 {
    0%, 100% {
      top: -20%;
    }
    50% {
      top: 10%;
    }
  }

  @media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .images-container {
        position: absolute;
        opacity: .2;
        z-index: -1;
        filter: blur(3px);
    }
    .main-text {
        height: 100vh;
        margin-top: 2rem;
    }
    .main-text span:nth-child(1) {
        font-size: 5rem;
    }
    .main-text span:nth-child(2) {
        font-size: 1.5rem;
    }
    .main-text button {
        font-size: 1rem;
    }
    /* .images-container {
        display: none;
    } */
    
  }