.tweet-card {
    border: 1px solid #e6ecf0;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}
.tweet-card .tweet-text {
    flex-basis: 70%;
}
.tweet-card .tweet-problem {
    flex-basis: 30%;
}