nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}
nav .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}